.products-loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.register-prime-image {
  height: 350px;
}

@media screen and (max-width: 567px) {
  .register-prime-image {
    height: 50px;
  }
}
@media screen and (max-width: 768px) {
  .register-prime-image {
    height: 100px;
  }
}
